#story-container{
    background:#A5C663;
    border: .4em solid #567077;
    border-radius: .4em;
    box-shadow: 2  #f0f0f0;
    padding:2em;
}
#story-background{
    background:#D46A6A;
    padding:6em;
}
#story-divider{
    border-right:2px solid black;
}
#storysubmit{
    height:35em;
    background:#CD88AF;
    color:black;
}
#storymodal{
    background-color:#9FC6E3
}