#icon{
    height: 2em;
    width: 2em;
}
.navigator{
    border-bottom:.4em solid black;
    background-color:#669999;
}
.buttons{
    padding-left:.5em;
}
#buttonone{
     background-color:#F5AF27;
     color:black;
}
#buttontwo{
    background-color:#F5AF27;
    color:black;
}
#buttonthree{
    background-color:#F5AF27;
    color:black;
}