#icon{
    height: 1.5em;
    width: 1.5em;
}
.navigator{
    border-bottom:.4em solid black;
    background-color:#567077;
}
.buttons{
    padding-left:.5em;
}
#buttonone{
     background-color:#F55C5C;
     color:black;
}
#buttontwo{
    background-color:#F55C5C;
    color:black;
}
#buttonthree{
    background-color:#F55C5C;
    color:black;
}