.auth-container{
    background:#A5C663;
    border: .4em solid #567077;
    border-radius: .4em;
    box-shadow: 2  #f0f0f0;
    padding:2em;
}
.homeLeft{
    border-right:2px solid black;
}
.homeRight{
    border-left:2px solid black;
}
#home-background{
    background:#D46A6A;
    padding:4em;
}